/* App.css */
.app-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.input-container {
    margin-bottom: 20px;
}

.todo-list {
    margin-bottom: 20px;
}

.todo-item {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    background-color: #fff;
}

.todo-item.completed {
    text-decoration: line-through;
}

.reset-button {
    background-color: #f44336;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

.reset-button:hover {
    background-color: #d32f2f;
}